<h1>SLUTA HACKA!!!!!</h1>
<h1>Din dator exploderar om 10 sekunder</h1>
<iframe src="https://giphy.com/embed/xUOxeXt41UOYRusw4E" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/time-walking-bomb-xUOxeXt41UOYRusw4E">via GIPHY</a></p>