<form action='/new' method='post'> 
  <input type='text' name='username'></input>
  <input type='text' name='email'></input>
  <input type='text' name='cleartext_password  '></input>
  <button type='submit'>Send</button>
</form>
<a href='/varor'> Hemsida </a>