<h1>Login</h1>
<form action='/login' method='post'> 
  <input type='text' name='username' placeholder='Username'></input>
  <input type='password' name='cleartext_password' placeholder='Password'></input>
  <button type='submit'>Send</button>
</form>
<h2>Sign up</h2>
<form action='/new' method='post'> 
  <input type='text' name='username' placeholder='Username'></input>
  <input type='text' name='email' placeholder='Email'></input>
  <input type='password' name='cleartext_password' placeholder='Password'></input>
  <button type='submit'>Send</button>
</form>
<a href='/varor'> Hemsida </a>
