
<h2><%= @vara['name'] %></h2>
<pre> 
  <p><%= @vara['description'] %></p> 
</pre>

<% if @user['id'] = '1' %>
  <form action='/varor/<%= @vara['id'] %>/delete' method='post'> 
    <button type="submit">Ta bort</button>
  </form>
  <a href='/varor/<%= @vara['id'] %>/update'> UPDATE </a> <br></br>
<% end %>

<a href='/varor'> Hemsida </a>