
<h2><%= @vara['name'] %></h2>
<pre> 
  <p><%= @vara['description'] %></p> 
</pre>
<%=  session[:user_id] %>
<% if session[:user_id] == 1 %>
  <form action='/varor/<%= @vara['id'] %>/delete' method='post'> 
    <button type="submit">Ta bort</button>
  </form>
<% end %>

<a href='/varor'> Hemsida </a>