<% @varor.each do |vara| %>
    <li>
        <a href="/varor/<%=vara[1]%>"><%=vara[0]%></a>
    </li> 
<% end %>
<form action='/varor/new' method='post'> 
  <input type='text' name='name'></input>
  <input type='text' name='description'></input>
  <input type='number' name='price  '></input>
  <button type='submit'>Send</button>
</form>